$colors: (
  success: #28a745,
  light: #f8f9fa,
  grey: #545454,
  light-grey: #dee1e4,
  primary: #57b6dd,
  danger: #ff4136,
  dark: #343a40,
  secondary: #9d9999,
  white: #ffffff,
  grey-dark: #3d3d3d,
  tertiary: #5e5e5e,
);

$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 21px,
  m-large: 35px,
  x-large: 40px,
  xx-large: 70px,
);
